.box {
    width: 80%;
    height: 80%;
    background-color: cornsilk;
    margin-left: 10%;
    margin-top: 5%;
    position: absolute;
    z-index: 1;
}

body {
    background-image: url(https://i.stack.imgur.com/0ASXA.jpg);
    background-attachment: fixed;
    z-index: 0;
}

.list {
    height: 10%;
    margin-left: 15%;
    margin-top: 10%;
    position: absolute;
    z-index: 2;
}

li {
    font-size: 2em;
    font-family: calibri, arial;
}

.bigcheck {
    width: 2.5em;
    height: 2.5em;
}

.bigbutton {
    width: 2em;
    height: 2em;
    position: absolute;
    z-index: 3;
}

.buttons {
    position: absolute;
    z-index: 3;
    width: 8%;
    margin-left: 11%;
    margin-top: 11%
}