.box {
    width: 1100px;
    height: 751px;
    background-color: cornsilk;
    margin-left: 134px;
    margin-top: 5%;
    position: absolute;
    z-index: 1;
}

body {
    background: linear-gradient(rgb(245, 62, 113), rgb(137, 162, 27), rgb(76, 162, 27), rgb(27, 162, 110), rgb(27, 157, 162), rgb(27, 47, 162), rgb(245, 62, 113), rgb(137, 162, 27), rgb(76, 162, 27), rgb(27, 162, 110), rgb(27, 157, 162), rgb(27, 47, 162), rgb(245, 62, 113), rgb(137, 162, 27), rgb(76, 162, 27), rgb(27, 162, 110), rgb(27, 157, 162), rgb(27, 47, 162), rgb(245, 62, 113), rgb(137, 162, 27), rgb(76, 162, 27), rgb(27, 162, 110), rgb(27, 157, 162), rgb(27, 47, 162), rgb(245, 62, 113), rgb(137, 162, 27), rgb(76, 162, 27), rgb(27, 162, 110), rgb(27, 157, 162), rgb(27, 47, 162));
    z-index: 0;
}

.list {
    margin-left: 220px;
    margin-top: 5.75%;
    position: absolute;
    z-index: 2;
}

li {
    font-size: 2em;
    font-family: calibri, arial;
}

.bigcheck {
    width: 2.5em;
    height: 2.5em;
}

.buttons {
    position: absolute;
    z-index: 3;
    margin-left: 115px;
    margin-top: 6%
}

.bigbutton {
    width: 7em;
    height: 7em;
    background-color: white;
    border-color: #00000069
}

.bigbutton:hover {
    background-color: #b0b0b0;
}

.buttons li {
    margin:0 20px 20px 0; vertical-align:top
}

.kitty {
    position: absolute;
    z-index: 4;
    margin-top: 5.75%;
    margin-left: 797px
}

.kitty2 {
    position: absolute;
    z-index: 4;
    margin-top: 21.5%;
    margin-left: 797px;
    width: 26.5em;
    height: 26.5em;
}

textarea {
    resize: none;
    outline: none;
    border: none;
    font-size: 1.5em
    background-color:bisque;
    font-family: calibri, arial;
}